# Ignore build artifacts
dist/
dist-newstyle/
.stack-work/
cabal.sandbox.config
cabal.sandbox.config.lock
*.buildinfo
*.hi
*.o
*.so
*.dyn_o
*.dyn_hi


# Ignore Haskell IDE files
.idea/
*.hie
*.hie-bios
*.ghc.environment.*
.vscode/

# Ignore test and coverage artifacts
*.tix
.hpc/

# Ignore binary executables
*.exe
*.exe~
*.out
*.out~

# Ignore temporary files
*.swp
*.swo
*~
*.tmp
*.bak
*.orig
*.aes

# Ignore tags and ctags files
tags
TAGS

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore config files/work files
*/output/
*/cache/*.json
*/config/*.json